VITE_GOOGLE_CLIENT_ID=
VITE_BASE_PATH=/

GOOGLE_CLIENT_ID=
GOOGLE_SHEET_ID=1RP0G9_Zp1qMk4kTTp-yK8PP_GUq4hBKZtJy9OxEU5Nw
GOOGLE_SHEET_RANGE=Visitors!A:J
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY=

UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=

RESEND_API_KEY=
OTP_FROM_EMAIL=Portfolio Access <onboarding@resend.dev>

SESSION_SECRET=
ASSET_SIGNING_SECRET=
PROTECTED_RESUME_URL=https://drive.google.com/file/d/1iXof1InYkwZvZ-jGlnTuhRf4gbLMjUkv/view?usp=sharing
PROTECTED_INTRO_VIDEO_URL=
